/infraestructura/backend/node_modules
/infraestructura/backend/package-lock.json
/infraestructura/backend/package.json
/infraestructura/frontend/node_modules
/infraestructura/frontend/package-lock.json
/infraestructura/backend/xmi/*
/infraestructura/backend/xmi/.gitkeep
