@import "tailwindcss";

@theme {
    --color-background: #292F42;
    --color-background-transparent: #292F424D;
    --color-secundary: #383C54;
    --color-label: #292F42;
    --color-button-light: #5B85AA;
    --color-button-dark: #4F708C;
}   